.popup__button-save {
  width: 100%;
  height: 46px;
  margin: 45px 0 0;
  border-radius: 2px;
  background-color: #000;
  color: #fff;
  font-size: 14px;
  line-height: 16px;
}

@media all and (min-width: 768px) {
  .popup__button-save {
    height: 48px;
    font-size: 18px;
    line-height: 22px;
  }
}

.popup__button-save:hover {
  opacity: 0.8;
  cursor: pointer;
}