.cards__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
  column-gap: 17px;
}

@media all and (min-width: 768px) {
  .cards__list {
    grid-template-columns: repeat(2, fit-content(282px));
  }
}

@media all and (min-width: 920px) {
    .cards__list {
      grid-template-columns: repeat(3, fit-content(282px));
    }
  }