.divider {
  border-top: 1px;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-style: solid;
  border-color: #545454;
  width: 100%;
}

@media all and (min-width: 768px) {
  .divider {
    max-width: 611px;
  }
}

@media all and (min-width: 920px) {
  .divider {
    max-width: 880px;
  }
}