.popup__button-close {
  background-image: url(../../../images/button-close.svg);
  min-width: 20px;
  height: 20px;
  background-size: cover;
  position: absolute;
  top: -36px;
  right: 0;
}

  @media all and (min-width: 768px) {
  .popup__button-close {
    min-width: 32px;
    height: 32px;
    top: -42px;
    right: -42px;
  }
}