.profile__button-add-container {
  box-sizing: border-box;
  border: 2px solid white;
  margin-top: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media all and (min-width: 768px) {
  .profile__button-add-container {
    margin-top: 0;
  }
}
