.profile__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

@media all and (min-width: 768px) {
  .profile__info {
    align-items: flex-start;
  }
}